<div class="d-flex flex-row">
  <div class="col-4 div-contactos border-end">
    <h3 class="text-center mt-3 mb-3">Contactos</h3>
    <div class="list-group px-2">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar User"
          aria-label="Buscar User"
          aria-describedby="basic-addon1"
        />
      </div>
      <button type="button" class="list-group-item list-group-item-action">
        A second item
        <span class="badge bg-primary rounded-pill float-end">14</span>
      </button>
      <button type="button" class="list-group-item list-group-item-action">
        A third button item
      </button>
      <button type="button" class="list-group-item list-group-item-action">
        A fourth button item
      </button>
    </div>
  </div>
  <div class="col-8 div-mensajes px-4 pb-3 d-flex flex-column">
    <div class="card col-6 col-sm-5 col-md-4 col-lg-3 mt-4">
      <div class="card-body">This is some text within a card body.</div>
    </div>
    <div class="clearfix"></div>
    <div
      class="
        card
        col-6 col-sm-5 col-md-4 col-lg-3
        mt-4
        ms-auto
        div-mensaje-yo
      "
    >
      <div class="card-body">This is some text within a card body.</div>
    </div>
    <div class="clearfix"></div>
    <div class="card col-6 col-sm-5 col-md-4 col-lg-3 mt-4">
      <div class="card-body">This is some text within a card body.</div>
    </div>
    <input
      type="text"
      class="form-control mt-auto"
      placeholder="Mensaje..."
      aria-label="Mensaje..."
      aria-describedby="basic-addon1"
    />
  </div>
</div>
