<div class="container">
  <div
    class="
      container-height
      d-flex
      align-content-center
      flex-wrap
      justify-content-center
    "
  >
    <form
      class="col-12 col-sm-10 col-md-8 col-lg-5 card shadow p-4"
      [formGroup]="form"
      (ngSubmit)="login()"
    >
      <h2 class="text-center">Bienvenido</h2>
      <div class="col-12 mx-auto mt-4">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Username"
            aria-label="Username"
            formControlName="username"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="input-group mt-4">
          <input
            [type]="seePassword ? 'text' : 'password'"
            class="form-control"
            placeholder="Password"
            aria-label="Password"
            formControlName="password"
            aria-describedby="basic-addon1"
          />
          <div class="input-group-append" (click)="handleSeePassword()">
            <span class="img-see input-group-text">
              <img
                *ngIf="!seePassword"
                src="/assets/icons/see.svg"
                class="figure-img img-fluid see-img"
              />
              <img
                *ngIf="seePassword"
                src="/assets/icons/not-see.svg"
                class="figure-img img-fluid see-img"
              />
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-center mt-4">
        <button
          type="submit"
          [disabled]="!form.valid"
          class="btn btn-outline-primary btn-lg"
        >
          Login
        </button>
      </div>
      <div class="col-12 d-flex justify-content-center mt-1">
        <a routerLink="/auth/sign-up" class="link-secondary mt-3"
          >Registrarse</a
        >
      </div>
    </form>
  </div>
</div>
