.div-contactos {
  height: 100vh;
  background-color: #e9ecef;
}

.div-notification {
  width: 8px;
  height: 8px;
  background-color: #0d6efd;
  border-radius: 100%;
}

.selected-contact {
  background-color: #cff4fc;
}
