<div class="list-group px-3">
  <div class="d-flex justify-content-between align-items-center">
    <h3 class="mt-3 mb-3">Contactos</h3>
    <a (click)="logout()" class="link-secondary pointer">Salir</a>
  </div>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Buscar User"
      aria-label="Buscar User"
      aria-describedby="basic-addon1"
    />
  </div>
  <button type="button" class="list-group-item list-group-item-action">
    A second item
    <span class="badge bg-primary rounded-pill float-end">14</span>
  </button>
  <button type="button" class="list-group-item list-group-item-action">
    A third button item
  </button>
  <button type="button" class="list-group-item list-group-item-action">
    A fourth button item
  </button>
</div>
