.error-box {
  height: 100%;
  position: fixed;
  width: 100%;
  overflow-y: auto;
}
.footer {
  width: 100%;
  left: 0px;
  right: 0px;
}
.error-body {
  padding-top: 2%;
}
h1 {
  font-size: 200px;
  font-weight: 900;
  text-shadow: 4px 4px 0 white, 6px 6px 0 dark;
  line-height: 210px;
}