<div class="container">
  <div
    class="
      container-height
      d-flex
      align-content-center
      flex-wrap
      justify-content-center
    "
  >
    <div class="col-12 col-sm-10 col-md-8 col-lg-5 card shadow p-4">
      <h2 class="text-center">Ingrese sus datos</h2>
      <div class="col-12 mx-auto mt-4">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Email"
            aria-label="Email"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="input-group mt-4">
          <input
            type="text"
            class="form-control"
            placeholder="Username"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="input-group mt-4">
          <input
            type="text"
            class="form-control"
            placeholder="Password"
            aria-label="Password"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="input-group mt-4">
          <input
            type="text"
            class="form-control"
            placeholder="Repeat Password"
            aria-label="Repeat Password"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
      <div class="col-12 d-flex justify-content-center mt-4">
        <button type="button" class="btn btn-outline-primary btn-lg">
          Registrarse
        </button>
      </div>
      <div class="col-12 d-flex justify-content-center mt-1">
        <a routerLink="/auth/sign-up" class="link-secondary mt-3"
          >Ya tengo mi cuenta</a
        >
      </div>
    </div>
  </div>
</div>
